[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
python-dotenv = "*"
feast = {extras = ["redis"], version = "*"}
pyarrow = "*"
requests = "*"

[dev-packages]
pytest = "*"
feature-hero-ml = {editable = true, path = "."}

[requires]
python_version = "3.8"
